
.ad_pagetitle{
    padding-top: 10px;
    text-align: center;
    height: 90px;
    width: 100%;
    background-color: #333333;
    color: white;
    /* border: 2px solid red; */
}

.navigation_wrapper{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    background-color: #333333;
    margin-bottom: 30px;
}

.navigation__button{
    flex-basis: 450px;
    height: 100px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    width: 200px;
    background-color: #333333;
    color: white;
    outline: none;
    border: none;
}

.navigation__button:hover{
    color: rgb(30, 255, 236);
}

.active__button{
    /* background-color: rgb(249, 228, 201); */
    background-color: white;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.active__button:hover{
    color: black;
}


@media screen and (max-width: 600px) {
    .ad_pagetitle{
        font-size: 19px;
        padding-top: 12px;
        padding-left: 20px;
    }
    .adminImage{
        height: 70px !important;
    }
    .navigation__button{
        font-size: 12px;
    }
}