@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	/* font-family: Raleway, sans-serif; */
}


.l_container {
	display: flex;
	justify-content: center;
	height: 100vh;
    width: 100%;   
}

.l_screen {		
	background-color: white;		
	position: relative;	
	height: 70%;
	width: 400px;	
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
}
.l_loginlogo{
    width: 250px;
    position: relative;
    top : 30px;
}

@media (max-width : 600px) {
    .l_screen{
        height: 100%;
        width: 100%;
        padding-bottom: 200px;
        transform: scale(1);
    }

    .l_loginlogo{
        width: 200px;
    }
}

.l_screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l_login {
	width: 320px;
	padding: 30px;
    border: 2px solid black;
}



.l_login__field {
	padding: 20px 0px;	
	position: relative;	
}

.l_login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.l_login__input {
	border: none;
	border-bottom: 2px solid #686872;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 85%;
	transition: .2s;
    font-size: 1rem;
    color: black;
}

.l_login__input:active,
.l_login__input:focus,
.l_login__input:hover {
	outline: none;
	border-bottom-color: #90ff71;
}

.l_login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 10px 15px;
	border-radius: 6px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 35%;
	color: #442018;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.l_login__submit:active,
.l_login__submit:focus,
.l_login__submit:hover {
	border-color: #ffffff;
    background-color: #90ff71;
    color: white;
	outline: none;
}

.l_newaccount{
    margin-top: 20px;
}



/* loading spinner css  */
.l_loader {
    position: absolute;
    top: 400px;
    border: 2px solid #f4eaea; /* Light grey */
    border-top: 2.54px double #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    margin: 20px auto;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .validator{
    display: none;
    height: 30px;
    min-width: 200px;
    font-size: 0.75rem;
    color: red;
    /* border: 2px solid red; */
}