
.profile_container{
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
    /* display: flex; */
    /* justify-content: center;
    align-items: flex-start; */
    padding-top: 20px;
}

.circlecontainer{
    height: 70%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
    border: 4px solid black;
    background-color: rgba(72, 67, 67, 0.272);
    margin: 0 auto;
}

.circle_wrapper{
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center ;
    /* border: 2px solid red; */
}

.textcircle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.complaint_done{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transition: border 1s ease;
    border: 75.2px solid rgba(208, 208, 185, 0.787);
    border-color: red;
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.complaint_resolved{
    height: 150px;
    width: 150px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    border: 75.2px solid rgba(208, 208, 185, 0.787);
    border-color: green;
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}


.greetings{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 55px;
    top: 23px;
    color: rgb(57, 29, 32);
    letter-spacing: 0.9px;
}

@media screen and (max-width: 1000px) {
    
    .circlecontainer{
        width: 80%;
    }
}

@media screen and (max-width: 500px) {

    .profile_container{
        padding-top: 0;
    }

    .circlecontainer{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-bottom: 30px;
        border: 0;
    }
    .greetings{
        top: 10px;
        left: 10px;
    }
}